{% import "utility.macros.njk" as utility %}
{% import "cards.macros.njk" as cards %}

{% macro get_calendar(
  events_group,
  collections,
  page
) %}
  {% set title = 'episodes' %}
  {% set filter = none %}
  {% set page = collections.all | getPage(page) %}
  {% set events = page | getEvents %}
  {% set page = page | first %}

  {% if events_group == 'all' %}
    {% set events = collections.all | getEvents %}
    {% set filter = 'off' %}
  {% elif events_group and (events_group != 'self') %}
    {% set tag_name = events_group | displayName or events_group %}
    {% set title %}
      '{{ tag_name }}'
    {% endset %}
    {% set events = collections.all | getEvents(events_group) %}
  {% endif %}

  {% if events %}
    {{ section(
      title=title,
      events=events,
      all=collections,
      self=page.url,
      filter=filter
    ) }}
  {% endif %}
{% endmacro %}


{% macro section(
  title,
  events,
  all,
  self,
  filter=none
) %}
  {% set title = [events | countEvents, title] | join(' ') %}
  {% if events | length %}
    {{ cards.section(
      title,
      content=groups(events, all, self),
      filter=filter
    ) }}
  {% endif %}
{% endmacro %}


{% macro groups(
  events,
  all,
  self
) %}
  {% set this_year = none | dateFormat('year') %}

  {% for segment in events %}
    {% if (segment.group == this_year) and not loop.first %}
      <hr data-divider>
    {% elif (segment.group == 2019) %}
      <p class="pandemic">Global Pandemic</p>
    {% endif %}

    {{ group(
      title=segment.group,
      events=segment.data,
      all=all,
      self=self
    ) }}
  {% endfor %}
{% endmacro %}


{% macro group(
  title,
  events,
  all,
  self
) %}
  {% set is_future = title | groupName %}
  {% set events = events | reverse if (not is_future) else events %}

  {{ cards.group(
    title=title,
    content=list(events, all, self)
  ) }}
{% endmacro %}


{% macro list(
  events,
  all,
  self
) %}
  {% for item in events %}
    {{ event(item, all, self) }}
  {% endfor %}
{% endmacro %}


{% macro event(
  item,
  all,
  self
) %}
  {%- set tags = item.tags | publicTags -%}
  {%- set not_me = ('inspiration' in tags) -%}
  {%- set is_self = (item.page.url == self) -%}
  {%- set is_old = item.index -%}
  {%- set is_boring = (item.page.url == '/verbs/') -%}
  {%- set hide_summary = (is_self or is_old) and not item.feature -%}

  {%- set summary = (item.page.data.summary or item.event.sub or item.page.data.sub) -%}
  {%- set summary = summary | md if (summary and not hide_summary) else none -%}

  {{ cards.event(
    title=title(item, is_self, is_boring),
    meta=meta(item, tags, all, not_me),
    summary=summary,
    feature=item.feature,
    is_old=is_old
  ) }}
{% endmacro %}


{% macro title(
  item,
  is_self=false,
  is_boring=false
) %}
  {# Venue Link #}
  {%- set venue_name = item.event.venue or item.page.data.venue or none -%}
  {%- set venue_url = item.event.url or item.page.data.url -%}
  {%- set venue = utility.link_if(venue_name or venue_url | domain, venue_url or item.page.url) if is_self else venue_name -%}
  {%- set venue = ['@', venue] | join('&nbsp;') if venue else none -%}

  {# Title Link #}
  {%- set title_name = item.event.title or item.page.data.title -%}
  {%- set url = none if (is_self or is_boring) else item.page.url -%}
  {%- set url = (url or venue_url) if not (is_self and venue) else url -%}
  {%- set title = utility.link_if(title_name | mdInline, url) -%}

  {{ title | safe }}
  {{ venue | safe }}
{% endmacro %}


{% macro meta(
  item,
  tags,
  all,
  not_me=false
) %}
  {{ utility.datetime(
    pubdate=item.page.data.pubdate or item.page.date,
    start=item.start,
    end=item.end,
    format='short' if (item.group | groupName == 'soon') else 'md'
  ) }}

  {%- set type = 'link' if not_me else none -%}
  {%- set type = item.page.data.type or type -%}
  {%- set type = item.event.type or type -%}
  {%- set type = 'event' if item.event and (type == 'org') else type -%}

  {% if type %}
    | <strong>{{ type }}</strong>
  {% endif %}


  {%- set venue_adr = item.event.adr or item.page.data.adr -%}
  {% if venue_adr %}
    | {{ venue_adr }}
  {% endif %}

  {% if (item.feature == 'pin') %}
    <strong class="pinned">[pinned]</strong>
  {% endif %}
{% endmacro %}
