[data-layout='banner'],
.section-header {
  display: grid;
  grid-template-columns: var(--grid-columns);

  * {
    grid-column: var(--banner-column, wide);
  }

  &::before {
    align-self: center;
    border-top: var(--section-border, var(--border-width)) solid var(--border);
    content: '';
    grid-column: full-start / wide-start;
    margin-right: var(--shim);
  }
}

[data-layout='banner'] {
  --section-border: var(--shim);
}

.banner-title {
  font-size: calc(1.25em + 2vw);
  margin: 0;
}

.subtitle {
  margin: 0;
}
