<details data-ccs="menu" hidden>
  <summary class="menu-item">colors</summary>
  <div data-dropdown="pad">
    <div data-ccs="buttons">
      <button
        data-ccs-input="mode"
        data-btn="small"
        type="button">
        invert
      </button>
      <button
        data-ccs-input="unset"
        data-btn="small"
        type="button"
        hidden>
        reset
      </button>
    </div>

    <label for="theme" data-ccs-field="theme">
      <span data-label>theme:</span>
      <select name="theme" id="theme" data-ccs-input="theme">
        {% for theme in ccs.themes %}
          <option value="{{ theme }}" {{ 'selected' if loop.first }}>
            {{ theme }}
          </option>
        {% endfor %}
      </select>
    </label>
    <label for="hue" data-ccs-field="hue">
      <span data-label>hue:</span>
      <input
        id="hue"
        type="range"
        min="0"
        max="360"
        value="{{ ccs.hue }}"
        data-ccs-input="hue">
    </label>
    <label for="saturation" data-ccs-field="saturation">
      <span data-label>saturation:</span>
      <input
        id="saturation"
        type="range"
        min="0"
        max="100"
        value="{{ ccs.saturation }}"
        data-ccs-input="saturation">
    </label>
    <label for="lightness" data-ccs-field="lightness">
      <span data-label>lightness:</span>
      <input
        id="lightness"
        type="range"
        min="25"
        max="75"
        value="{{ ccs.lightness }}"
        data-ccs-input="lightness">
    </label>
    <label for="contrast" data-ccs-field="contrast">
      <span data-label>contrast:</span>
      <input
        id="contrast"
        type="range"
        min="25"
        max="150"
        value="{{ ccs.contrast }}"
        data-ccs-input="contrast">
    </label>
  </div>
</details>
