{% import 'utility.macros.njk' as utility %}
{% import 'content.macros.njk' as content %}
{% import 'contact.macros.njk' as contact %}

<footer
  data-layout="footer">

  {% set title %}
    Copyright © {% getDate 'year' %}
  {% endset %}

  <p data-footer="copyright">
    {{ title | typogr | safe }}
    <a href="mailto:{{ site.email }}">{{ site.author }}</a>
    <br>
    ❤ Sondra, Daniel, Miriam, Josie
  </p>

  {% if not hide_contact %}
    <div data-footer="content">
      {{ contact.form() }}
    </div>
  {% endif %}
</footer>

