{% import "utility.macros.njk" as utility %}

{#
  Intro
  -----
#}
{% macro intro(
  content=none
) -%}
{%- set content = content if (content != none) else caller() -%}
<div class='intro'>{{ content | md | safe }}</div>
{%- endmacro %}

{#
  Quote
  -----
#}
{% macro quote(
  data
) %}

> {{ data.text | trim }}
>
> ---<cite>{{ cite(data) }}</cite>

{% endmacro %}


{% macro cite(
  data
) -%}
{%- set where -%}
{{ data.venue | safe }}{% if data.venue and data.title %}: {% endif %}{{ data.title | safe }}
{%- endset -%}
{%- set where = where if (data.venue or data.title) else none -%}
{%- if data.credit and where and data.url -%}
{{ data.credit }}, [{{ where }}]({{ data.url }})
{%- elif data.credit and where -%}
{{ data.credit }}, {{ where }}
{%- elif data.credit and data.url -%}
[{{ data.credit }}]({{ data.url }})
{%- elif where and data.url -%}
[{{ data.credit }}]({{ data.url }})
{%- else -%}
{{ data.credit or where or data.url }}
{%- endif -%}
{%- endmacro %}


{% macro quotes(
  data
) %}
{% for item in data %}
{% if item.text %}
{{ quote(item) }}
{% endif %}
{% endfor %}
{% endmacro %}


{% macro media(
  src,
  alt='',
  align=none,
  embed=false,
  class=none,
  content=none
) %}
  {%- set content = content if (content != none) else caller() -%}
  {% set align = ('--align: %s;' % align) if align else none %}
  <div data-media=""
    {{ utility.attr_if('style', align) }}
    {{ utility.attr_if('class', class) }}>
    {% if embed %}
      <div class="media-image">
        {% include src %}
      </div>
    {% else %}
      <img src="{{ src }}" alt="{{ alt }}" class="media-image">
    {% endif %}
    <div class="media-text">
      {{ content | safe }}
    </div>
  </div>
{% endmacro %}

{#
  Erase
  -----
#}
{%- macro erase(
  content
) -%}<button data-toggle="erase">{{ content | mdInline | safe }}</button>{%- endmacro -%}

{#
  Figures
  -------
#}
{% macro fig(
  data=none,
  caption=none,
  column=none
) -%}
{%- set content = _fig_content(data) if data else caller() | mdInline -%}
<figure
  data-pattern="figure"
  {% if column %}style="--type-column: {{ column }}"{% endif %}>
<div data-figure="content">{#
#}{{ content | safe }}{#
#}</div>
{%- if caption -%}
<figcaption data-figure="caption">{#
#}{{ caption | mdInline | safe }}{#
#}</figcaption>
{%- endif -%}
</figure>
{%- endmacro %}

{#
  Ratios
  ------
#}
{% macro ratio(
  width=none,
  height=none,
  span=none
) -%}
{%- if width | typeCheck('number') and height | typeCheck('number') -%}
<div
  class="ratio"
  style="--ratio:{{ width / height }};{{ span }}">{#
#}{{ caller() }}{#
#}</div>
{%- else -%}
{{ caller() }}
{%- endif -%}
{%- endmacro %}

{#
  Placement
  ---------
#}
{% macro place(
  width,
  height=none
) -%}
{%- set width = ['--width:', width, ';'] | join if width else '' -%}
{%- set height = ['--height:', height, ';'] | join if height else '' -%}
{%- set style = [width, height] | join if (width or height) else none -%}
<div data-place {{ utility.attr_if('style', style) }}>{{ caller() }}</div>
{%- endmacro %}

{#
  Private
  -------
#}
{% macro _fig_content(
  data
) -%}
{%- for item in data -%}
{%- set span = ['--span:', item.span, ';'] | join if item.span else '' -%}
{%- if item.img -%}
{%- set src = item.img if ('://' in item.img) else ('/images/' + item.img) -%}
{%- set width = ['--width:', item.width, ';'] | join if item.width else '' -%}
{%- set align = ['--align:', item.align, ';'] | join if item.align else '' -%}
{%- set style = [width, span, align] | join if (width or span or align) else none -%}{#
#}<img src="{{ src }}" alt="{{ item.alt }}" {{ utility.attr_if('style', style) }}/>{#
#}{%- elif item.iframe -%}
{%- call ratio(item.width, item.height, span) -%}{#
#}<iframe src="{{ item.iframe }}" {{ utility.attr_if('width', item.width) }} {{ utility.attr_if('height', item.height) }} frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>{%- endcall -%}{#
#}{%- elif item.audio -%}{#
#}<audio src="{{ item.audio }}" style="--width: 100%;{{ span }}" controls>{{ item.audio | mdInline }}</audio>{#
#}{%- endif -%}
{%- endfor -%}
{%- endmacro %}

{%- macro feature(page) -%}
{%- if page -%}
<article data-media="page">
{%- if page.data.hero -%}
<a href="{{ page.url }}" class="media-image">
<img
  src="{{ page.data.site.images + page.data.hero.img }}"
  alt="{{ page.data.hero.alt or '' }}"/>
</a>
{%- endif -%}

<div class="media-text">
  <header class="media-header">
    <h2>
    <a href="{{ page.url }}">{{ page.data.banner or page.data.title }}</a>
    </h2>
    {{- utility.datetime(
      pubdate=page.date,
      start=page.data.start,
      end=page.data.end,
      format='md'
    ) | safe -}}
    {%- if page.data.sub -%}
    —<em>{{ page.data.sub | mdInline | safe }}</em>
    {%- endif -%}
  </header>
  {{ page.data.summary | md | safe }}
</div>
</article>
{%- endif -%}
{%- endmacro -%}
