@use "../config";

button {
  @include config.font-family('alt');

  --btn-shade: hsla(var(--ccs-h--prime), var(--ccs-s--bg1), var(--ccs-l--bg1), 0.25);
  --btn-shadow: var(--text-shadow-off) var(--text-shadow-off);

  background: linear-gradient(
        calc(90deg + 90deg * var(--mode, 1)),
        var(--btn-shade) 50%,
        transparent 50%
      )
      padding-box,
    linear-gradient(var(--btn-bg, var(--action)), var(--btn-bg, var(--action)))
      padding-box,
    linear-gradient(
        to bottom right,
        var(--btn-border, var(--ccs-prime)),
        var(--action)
      )
      border-box;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius) 0;
  color: var(--btn-color, var(--bg));
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: var(--quarter-shim) var(--shim);
  text-shadow: var(--btn-shadow) 0 var(--btn-shade);
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    --btn-bg: var(--action-hover);
    --btn-border: var(--action);
  }

  &:active {
    --btn-bg: var(--ccs-accent--bg2);
    --btn-color: var(--ccs-accent--fg2);
    --btn-border: var(--ccs-accent--fg3);
    --btn-shade: hsla(var(--ccs-h--accent), var(--ccs-s--fg1), var(--ccs-l--fg1), 0.25);
    --btn-shadow: var(--text-shadow-off-invert) var(--text-shadow-off-invert);
  }

  &:disabled {
    filter: grayscale(100%);
    cursor: not-allowed;
    opacity: 0.5;
  }
}

[data-btn~='flush'] {
  border-radius: 0 0 var(--border-radius) 0;
}

[data-btn~='small'] {
  font-size: var(--font-small);
}
