a {
  &:link,
  &:visited {
    color: var(--action);
    text-decoration-color: var(--action--line);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--action--focus);
    text-decoration-color: var(--action);
  }

  &[href*='://'] {
    &::after {
      content: ' ↗';
      font-size: 0.5em;
      font-weight: bold;
    }
  }
}
