@use '../config';

[data-field],
[data-label],
[data-input] {
  display: block;
}

[data-label] {
  @include config.font-family('alt');

  font-weight: bold;
}

[data-field] {
  margin-bottom: var(--field-margin, var(--shim));
}

input,
select {
  width: 100%;
  max-width: 100%;
}

[data-input] {
  background-color: var(--input-bg, var(--bg));
  border: thin solid var(--input-border, var(--border));
  color: var(--input-color, var(--text-light));
  font: inherit;
}

[data-input~='text'] {
  border-radius: var(--border-radius) 0;
  font-size: var(--font-small);
  padding: var(--field-padding, var(--quarter-shim) var(--half-shim));
  width: var(--field-width, 100%);

  &:focus {
    --input-bg: var(--bg);
    --input-border: var(--action);
    --input-color: var(--text);
  }
}

[data-input~='area'] {
  min-height: calc(var(--gutter) * 4);
}

::placeholder {
  color: var(--text-light);
}

// ranges
// ------
[type='range'] {
  appearance: none;
  background: transparent;
  height: var(--gutter);
  padding: 0;

  @include config.range-track {
    appearance: none;
    height: var(--shim);
    background: var(--callout);
    border-radius: var(--border-radius);
    border: thin solid var(--border);
    cursor: pointer;
  }

  @include config.range-thumb {
    appearance: none;
    border: thin solid var(--border);
    height: var(--gutter);
    width: var(--shim);
    border-radius: var(--border-radius);
    background: var(--action);
    cursor: pointer;
  }
}
